<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/product_detail.css" />
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>

<body>
    
    <!---------------------------- Header ---------------------------->

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="details__dashboard">
            <a  href="" class="edit_icon">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </a>
            <div class="dashboard__image-product">
                <img src="<%= data_item.image %>" alt="imagen de mario">
            </div>
            <div class="dashboard__description">
                <div class="description__title">
                    <h2 class="description__title-main" ><%= data_item.name %></h2>
                    <span class="description__title-subTitle" >- <%= data_item.sub_name %> -</span>
                </div>
                <div class="descripcion__info">
                    <div class="description__characteristics">
                        <div class="characteristic">
                            <span class="characteristic__name">Formato:</span>
                            <span class="characteristic__value"><%= data_item.format %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Plataforma:</span>
                            <% for(let i=0; i < data_item.plataform.length; i++) { %>
                                <span class="characteristic__value"><%= data_item.plataform[i][0] %>&nbsp;</Span>
                            <% } %>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Lanzamiento:</span>
                            <span class="characteristic__value"><%= data_item.releaseDate %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Desarrollador:</span>
                            <span class="characteristic__value"><%= data_item.developer %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Genero:</span>
                            <% for(let i=0; i < data_item.gender.length; i++) { %>
                                <span class="characteristic__value"><%= data_item.gender[i] %>&nbsp;</Span>
                            <% } %>

                        </div>
                        <div class="rankings">
                            <img src="<%= data_item.ranking[0] %>" alt="clasificacion pegi">
                            <img src="<%= data_item.ranking[1] %>" alt="clasificacion esbr">
                        </div>
                    </div>
                    <div class="description__shopping">
                        <span class="price">$<%= data_item.price %></span>
                        <div class="shopping__button button--buy">
                            <button>Comprar Ahora</button>
                        </div>
                        <div class="shopping__button button--cart">
                            <button">Añadir al carrito</button>
                        </div>
                        <div class="shopping__button button--fav">
                            <button><i class="fa-regular fa-star"></i>Añadir a la lista de deseos</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="section__tittle">Descripción general</h2>

        <section class="details__description">
            <div class="description__body">
                <p class="description__text"><%= data_item.description[0] %></p>

                <div class="description__video">
                    <iframe 
                        width="1280"
                        height="580"
                        src=<%= data_item.trailer %>
                        title="Warcraft III: The Frozen Throne Intro" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen
                        >
                    </iframe>
                </div>

                <p class="description__text"><%= data_item.description[1] %></p>
                <p class="description__text"><%= data_item.description[2] %></p>
            
                <img class="description__image" src=<%= data_item.gameplay %> alt="gameplay del juego">

                <p class="description__text"><%= data_item.description[3] %></p>
            </div>
        </section>

        <section>
            <h2 class="section__tittle">Quizas tambien te interese</h2>
            <div class="section__products">
                <% for(let i=5; i < 9; i++) { %>
                    <%- include('../partials/card--main', {data_item: BD[i]}) %>
                <% } %>
            </div>
        </section>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>

</html>