<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/products/product_detail.css" />
    <link rel="stylesheet" type="text/css" href="/styles/users/home.css" />
</head>

<body>
    <!---------------------------- Header ---------------------------->
    <%- include('../partials/header.ejs') %>

    <!----------------------------- Main ----------------------------->
    <main>
        <section class="details__dashboard">
            <div class="dashboard__image-product">
                <img src="<%= data_item.cover_image %>" alt="">
            </div>
            <div class="dashboard__description">
                <div class="description__title">
                    <h2 class="description__title-main" ><%= data_item.name %></h2>
                    <span class="description__title-subTitle" >- <%= data_item.second_name %> -</span>
                </div>
                <div class="descripcion__info">
                    <div class="description__characteristics">
                        <div class="characteristic">
                            <span class="characteristic__name">Formato:</span>
                            <span class="characteristic__value"><%= data_item.format.name %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Plataforma:</span>
                            <% for(let i=0; i < data_item.platforms.length; i++) { %>
                                <span class="characteristic__value"><%= data_item.platforms[i].name %>&nbsp;</Span>
                            <% } %>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Lanzamiento:</span>
                            <span class="characteristic__value"><%= data_item.release_date %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Desarrollador:</span>
                            <span class="characteristic__value"><%= data_item.developer.name %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Genero:</span>
                            <% for(let i=0; i < data_item.genres.length; i++) { %>
                                <span class="characteristic__value"><%= data_item.genres[i].name %>&nbsp;</Span>
                            <% } %>

                        </div>
                        <div class="rankings">
                            <img src="<%= data_item.rating_pegi.image %>" alt="clasificacion pegi">
                            <img src="<%= data_item.rating_esrb.image %>" alt="clasificacion esbr">
                        </div>
                    </div>
                    <div class="description__shopping">
                        <span class="price">$<%= data_item.price %></span>
                        <div class="shopping__button button--buy">
                            <button >Comprar Ahora</button>
                        </div>
                        <% if (locals.userLogged && locals.userLogged.carts.some(product => product.id_product === data_item.id)) { %>
                            <form action="/mycart" method="GET">
                                <div class="shopping__button button--cart">
                                    <button>Ver en el carrito</button>
                                </div> 
                            </form>
                        <% } else{ %>
                            <form action="/details/<%= data_item.id %>" method="POST">
                                <div class="shopping__button button--cart">
                                    <button>Añadir al carrito</button>
                                </div> 
                            </form>
                        <% } %>
                        <div class="shopping__button button--fav">
                            <button><i class="fa-regular fa-star"></i>Añadir a la lista de deseos</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if (locals.isLogged && locals.userLogged.id_category == 2) { %>
                <a href="/details/<%= data_item.id %>/edit" class="dashboard__edit">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </a>
                <form action="<%= data_item.id %>/?_method=DELETE" method="POST">
                    <button type="submit" class="dashboard__delete">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </form>
            <% } %>
        </section>

        <h2 class="section__tittle">Descripción general</h2>

        <section class="details__description">
            <div class="description__body">
                <p class="description__text"><%= data_item.description_1 %></p>

                <div class="description__video">
                    <iframe 
                        width="1280"
                        height="580"
                        src=<%= data_item.trailer %>
                        title="Warcraft III: The Frozen Throne Intro" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen
                        >
                    </iframe>
                </div>

                <p class="description__text"><%= data_item.description_2 %></p>
                <p class="description__text"><%= data_item.description_3 %></p>
            
                <img class="description__image" src=<%= data_item.gameplay_image %> alt="gameplay del juego">

                <p class="description__text"><%= data_item.description_4 %></p>
            </div>
        </section>

        <section>
            <h2 class="section__tittle">Quizas tambien te interese</h2>
            <div class="section__products">
                <% for(let i=0; i < BD.length; i++) { %>
                    <%- include('../partials/card--main', {data_item: BD[i]}) %>
                <% } %>
            </div>
        </section>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>

</html>