<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->

<%- include('../partials/head.ejs') %>

<body>
    
    <!---------------------------- Header ---------------------------->

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="details__dashboard">
            <div class="dashboard__image-product">
                <img src="<%= data_item.image %>" alt="imagen de mario">
            </div>
            <div class="dashboard__description">
                <div class="description__title">
                    <h2 class="description__title-main" ><%= data_item.name %></h2>
                    <span class="description__title-subTitle" >- <%= data_item.sub_name %> -</span>
                </div>
                <div class="descripcion__info">
                    <div class="description__characteristics">
                        <div class="characteristic">
                            <span class="characteristic__name">Formato:</span>
                            <span class="characteristic__value"><%= data_item.format %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Plataforma:</span>
                            <% for(let i=0; i < data_item.plataform.length; i++) { %>
                                <span class="characteristic__value"><%= data_item.plataform[i][0] %>&nbsp;</Span>
                            <% } %>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Lanzamiento:</span>
                            <span class="characteristic__value"><%= data_item.releaseDate %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Desarrollador:</span>
                            <span class="characteristic__value"><%= data_item.developer %></Span>
                        </div>
                        <hr class="divider">
                        <div class="characteristic">
                            <span class="characteristic__name">Genero:</span>
                            <% for(let i=0; i < data_item.gender.length; i++) { %>
                                <span class="characteristic__value"><%= data_item.gender[i] %>&nbsp;</Span>
                            <% } %>

                        </div>
                        <div class="rankings">
                            <img src="/images/rankings/PEGI_12.png" alt="clasificacion pegi 12">
                            <img src="/images/rankings/ESRB_T.svg" alt="clasificacion esbr teen">
                        </div>
                    </div>
                    <div class="description__shopping">
                        <span class="price">$<%= data_item.price %></span>
                        <div class="shopping__button button--buy">
                            <button>Comprar Ahora</button>
                        </div>
                        <div class="shopping__button button--cart">
                            <button">Añadir al carrito</button>
                        </div>
                        <div class="shopping__button button--fav">
                            <button><i class="fa-regular fa-star"></i>Añadir a la lista de deseos</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="section__tittle">Descripción general</h2>

        <section class="details__description">
            <div class="description__body">
                <p class="description__text">Sumérgete en el mundo épico de Azeroth una vez más con "Warcraft III: The Frozen Throne". Esta expansión del famoso juego de estrategia en tiempo real te transportará a un reino lleno de magia, batallas y traiciones. Prepárate para una experiencia que expande los límites de la fantasía mientras luchas por el dominio y la supervivencia en un mundo al borde del colapso.</p>

                <div class="description__video">
                    <iframe 
                        width="1280"
                        height="580"
                        src=<%= data_item.trailer %>
                        title="Warcraft III: The Frozen Throne Intro" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen
                        >
                    </iframe>
                </div>

                <p class="description__text">En "Warcraft III: The Frozen Throne", la historia continúa con nuevas y emocionantes aventuras que amplían aún más el rico universo de Warcraft. Viajarás a tierras desconocidas y enemigas, enfrentando desafíos mortales y descubriendo secretos oscuros que amenazan con desgarrar Azeroth. Con nuevas facciones, héroes y unidades, deberás dominar la estrategia y la magia para sobrevivir y prevalecer en este mundo cambiante.</p>
                <p class="description__text">El destino de héroes legendarios y villanos astutos descansa en tus manos mientras te sumerges en una campaña épica llena de giros inesperados y emocionantes batallas. Ya sea que elijas liderar a los nobles defensores de la Alianza o a los formidables miembros de la Horda, tus decisiones moldearán el destino de Azeroth y determinarán si la luz o las sombras prevalecen.</p>
            
                <img class="description__image" src=<%= data_item.gameplay %> alt="gameplay del juego">

                <p class="description__text">¿Estás listo para enfrentarte a nuevos desafíos, forjar alianzas inquebrantables y descubrir los secretos del Trono Helado? "Warcraft III: The Frozen Throne" te invita a embarcarte en una aventura única que cautivará tu imaginación y pondrá a prueba tus habilidades estratégicas como nunca antes.</p>
            </div>
        </section>

        <section>
            <h2 class="section__tittle">Quizas tambien te interese</h2>
            <div class="section__products">
                <% for(let i=5; i < 9; i++) { %>
                    <%- include('../partials/card--main', {data_item: BD[i]}) %>
                <% } %>
            </div>
        </section>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>

</html>