<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/products/product_edit.css" />
</head>

<body>
    <!---------------------------- Header ---------------------------->

    <%- include('../partials/header.ejs') %>

    <main class="main__editProduct">
        <div class="editproduct__title">
            <h2><i class="fa-solid fa-gear"></i> <% if(method == 'PUT'){ %>Editar producto<% } else {%> Crear producto <% } %></h2>
        </div>
        <span class="editForm__spanTextTittle">Todos los valores con (*) son obligatorios</span>
        <form class="editProduct__editForm" id="product__form"
        action="<% if(method == 'PUT'){ %>edit?_method=PUT<% } else {%> create <% } %>" 
        method="POST"
        enctype="multipart/form-data">
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input input--id">
                        <label class="label" for="f_title">Id</label>
                        <input class="input" type="text" value="<%= prod.id %>" name="id" id="f_title"  disabled>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_title">Titulo<span class="editForm__spanText">*</span></label>
                        <input class="input" type="text" value="<%= prod.name %>" name="name" id="gameName" title="Ingrese el titulo de su Juego" required>
                        <div id="container__inputGameName"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'name') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_subTitle">Sub titulo<span class="editForm__spanText">*</span></label>
                        <input class="input" type="text" value="<%= prod.second_name %>" name="sub_name" id="f_subTitle" title="Ingrese el Sub Titulo de su Juego" required>
                        <div id="container__inputGameSubName"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'sub_name') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input input--radio">
                        <label class="label">Formato<span class="editForm__spanText">*</span></label>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'format') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                        <div id="container__inputFormat"></div>
                        <div class="input__container">
                            <div class="option">
                                <input class="input input--radio" type="radio" value="Fisico" name="format" id="f_radio-physic" required
                                    <% if(prod.format.name == 'Fisico') {  %>
                                        checked
                                    <% } %>>
                                <label class="label--radio" for="f_radio-physic">Fisico</label>
                            </div>
                            <div class="option">
                                <input class="input input--radio" type="radio" value="Digital" name="format" id="f_radio-digital" required
                                <% if(prod.format == 'Digital') {  %>
                                    checked
                                <% } %>>
                                <label class="label--radio" for="f_radio-digital">Digital</label>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input input--radio">
                        <label class="label">Plataforma<span class="editForm__spanText">*</span></label>
                        <div id="container__inputPlataform"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'platform') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                        <div class="input__container">
                            <div class="option">
                                <input class="input input--radio" type="checkbox" value="PC" name="platform" id="f_chxbox-pc"
                                <% for(let i = 0; i < prod.product_platforms.length; i++) { %>
                                    <% if(prod.product_platforms[i].name == 'PC') {  %>
                                        checked
                                <% }} %>>
                                <label class="label--radio" for="f_chxbox-pc">PC</label>
                            </div>
                            <div class="option">
                                <input class="input input--radio" type="checkbox" value="PS" name="platform" id="f_chxbox-ps"
                                <% for(let i = 0; i < prod.product_platforms.length; i++) { %>
                                    <% if(prod.product_platforms[i].name == 'PS') {  %>
                                        checked
                                <% }} %>>
                                <label class="label--radio" for="f_chxbox-ps">Play Station</label>
                            </div>
                            <div class="option">
                                <input class="input input--radio" type="checkbox" value="XBOX" name="platform" id="f_chxbox-xbox"
                                <% for(let i = 0; i < prod.product_platforms.length; i++) { %>
                                    <% if(prod.product_platforms[i].name == 'XBOX') {  %>
                                        checked
                                <% }} %>>
                                <label class="label--radio" for="f_chxbox-xbox">XBox</label>
                            </div>
                            <div class="option">
                                <input class="input input--radio" type="checkbox" value="SEGA" name="platform" id="f_chxbox-sega"
                                <% for(let i = 0; i < prod.product_platforms.length; i++) { %>
                                    <% if(prod.product_platforms[i].name == 'SEGA') {  %>
                                        checked
                                <% }} %>>
                                <label class="label--radio" for="f_chxbox-sega">Sega</label>
                            </div>
                            <div class="option">
                                <input class="input input--radio" type="checkbox" value="SWITCH" name="platform" id="f_chxbox-switch"
                                <% for(let i = 0; i < prod.product_platforms.length; i++) { %>
                                    <% if(prod.product_platforms[i].name == 'SWITCH') {  %>
                                        checked
                                <% }} %>>
                                <label class="label--radio" for="f_chxbox-switch">Switch</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_date">Lanzamiento<span class="editForm__spanText">*</span></label>
                        <input class="input" type="date" value="<%= prod.release_date %>" name="releaseDate" id="f_date" required>
                        <div id="container__inputReleaseDate"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'releaseDate') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_developer">Desarrollador<span class="editForm__spanText">*</span></label>
                        <input class="input" type="text" value="<%= prod.developer.name %>" name="developer" id="f_developer" required>
                        <div id="input__devContainer"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'developer') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input input--radio">
                        <label class="label">Genero<span class="editForm__spanText">*</span></label>
                        <div id="input__genreContainer"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'genre') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                        <div class="input__container">
                            <div class="option">
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Acción" name="genre" id="f_chkbox-action" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Acción') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-action">Acción</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Aventura" name="genre" id="f_chkbox-adventure" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Aventura') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-adventure">Aventura</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Estrategia" name="genre" id="f_chkbox-strategy" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Estrategia') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-strategy">Estrategia</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Peleas" name="genre" id="f_chkbox-fight" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Peleas') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-fight">Peleas</label>
                                </div>
                            </div>
                            <div class="option">
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="RPG" name="genre" id="f_chkbox-rpg" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'RPG') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-rpg">RPG</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Deporte" name="genre" id="f_chkbox-sport" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Deporte') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-sport">Deporte</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Multijugador" name="genre" id="f_chkbox-multiplayer" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Multijugador') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-multiplayer">Multijugador</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="checkbox" value="Un jugador" name="genre" id="f_chkbox-singleplayer" 
                                    <% for(let i = 0; i < prod.product_genres.length; i++) { %>
                                        <% if(prod.product_genres[i].name == 'Un jugador') {  %>
                                            checked
                                    <% }} %>>
                                    <label class="label--radio-classification" for="f_chkbox-singleplayer">Un jugador</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input input--radio">
                        <label class="label">Clasificacion<span class="editForm__spanText">*</span></label>
                        <div id="input__clasificacionContainer"></div>
                        <div class="input__container">
                            <div class="option">
                                <span class="option__title">PEGI</span>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="PEGI_3" name="ranking1" id="f_radio-pegi3" required
                                    <% if(prod.rating_pegi.name == 'PEGI_3') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-pegi3">PEGI 3</label>
                                    <% if (locals.errors) { %>
                                        <% const error = errors.find(error => error.path == 'ranking1') %>
                                         <span class="errorMessage"><%= error ? error.msg : '' %></span>
                                    <% } %>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="PEGI_7" name="ranking1" id="f_radio-pegi7" required
                                    <% if(prod.rating_pegi.name == 'PEGI_7') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-pegi7">PEGI 7</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="PEGI_12" name="ranking1" id="f_radio-pegi12" required
                                    <% if(prod.rating_pegi.name == 'PEGI_12') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-pegi12">PEGI 12</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="PEGI_16" name="ranking1" id="f_radio-pegi16" required
                                    <% if(prod.rating_pegi.name == 'PEGI_16') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-pegi16">PEGI 16</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="PEGI_18" name="ranking1" id="f_radio-pegi18" required
                                    <% if(prod.rating_pegi.name == 'PEGI_18') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-pegi18">PEGI 18</label>
                                </div>
                            </div>
                            <div class="option">
                                <span class="option__title">ESRB</span>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="ESRB_E" name="ranking2" id="f_radio-esrbe" required
                                    <% if(prod.rating_esrb.name == 'ESRB_E') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-esrbe">ESRB E</label>
                                    <% if (locals.errors) { %>
                                        <% const error = errors.find(error => error.path == 'ranking2') %>
                                         <span class="errorMessage"><%= error ? error.msg : '' %></span>
                                    <% } %>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="ESRB_E10" name="ranking2" id="f_radio-esrbe+" required
                                    <% if(prod.rating_esrb.name == 'ESRB_E10') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-esrbe+">ESRB E10+</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="ESRB_T" name="ranking2" id="f_radio-esrbt" required
                                    <% if(prod.rating_esrb.name == 'ESRB_T') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-esrbt">ESRB T</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="ESRB_M" name="ranking2" id="f_radio-esrbm" required
                                    <% if(prod.rating_esrb.name == 'ESRB_M') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-esrbm">ESRB M</label>
                                </div>
                                <div class="option--classification">
                                    <input class="input input--radio" type="radio" value="ESRB_AO" name="ranking2" id="f_radio-esrba" required
                                    <% if(prod.rating_esrb.name == 'ESRB_AO') {  %>
                                        checked
                                    <% } %>>
                                    <label class="label--radio-classification" for="f_radio-esrba">ESRB AO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_price">Precio<span class="editForm__spanText">*</span></label>
                        <input class="input" type="number" value="<%= prod.price %>" name="price" id="f_price"  min="1" required>
                        <div id="input__priceContainer"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'price') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText editForm__preview">
                <div class="preview--image">
                    <img src="<%= prod.cover_image %>" alt="">
                </div>
                <div class="field preview--select">
                    <div class="field__input">
                        <label class="label" for="f_cover">Imagen caratula<span class="editForm__spanText">*</span></label>
                        <input class="input" type="file" value="" name="image-cover" accept="image/*" id="f_cover" <% if (method != 'PUT') { %>
                            required
                        <% } %>>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'image-cover') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText editForm__preview">
                <div class="preview--image">
                    <img src="<%= prod.gameplay_image %>" alt="">
                </div>
                <div class="field preview--select">
                    <div class="field__input">
                        <label class="label" for="f_gameplay">Imagen gameplay<span class="editForm__spanText">*</span></label>
                        <input class="input" type="file" value="" name="image-gameplay" accept="image/*" id="f_gameplay" <% if (method != 'PUT') { %>
                            required
                        <% } %>>>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'image-gameplay') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_triller">Trailer<span class="editForm__spanText">*</span></label>
                        <input class="input" type="url" value="<%= prod.trailer %>" name="trailer" id="f_triller" required>
                        <div id="input__triller"></div>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'trailer') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_description-header">Introducción<span class="editForm__spanText">*</span></label>
                        <textarea class="input" rows="10" name="description[0]" id="f_description-header"><%= prod.description_1 %></textarea>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'description[0]') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_description-body">Descripción<span class="editForm__spanText">*</span></label>
                        <textarea class="input" rows="10" name="description[1]" id="f_description-body"><%= prod.description_2 %></textarea>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'description[1]') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_description-body">Descripción<span class="editForm__spanText">*</span></label>
                        <textarea class="input" rows="10" name="description[2]" id="f_description-body"><%= prod.description_3 %></textarea>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'description[2]') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__inputText">
                <div class="field">
                    <div class="field__input">
                        <label class="label" for="f_description-footer">Desenlace<span class="editForm__spanText">*</span></label>
                        <textarea class="input" rows="10" name="description[3]" id="f_description-footer"><%= prod.description_4 %></textarea>
                        <% if (locals.errors) { %>
                            <% const error = errors.find(error => error.path == 'description[3]') %>
                             <span class="errorMessage"><%= error ? error.msg : '' %></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="editForm__buttonBox">
                <div class="buttonBox__button">
                    <button>Borrar datos</button>
                </div>
                <div class="buttonBox__button button--confirm">
                    <button type="submit">Confirmar</button>
                </div>
            </div>
        </form>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>

    <script src="/scripts/validations/validateProducts.js"></script>
</body>

</html>
