<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="images/header/icono.png">

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="styles/header.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Cart</title>
</head>

<body>
   
    <%-include('../partials/header.ejs')%>

    <main>
        <div class="mycart-tittle">
            <i class="fa-solid fa-cart-shopping fa-2xl"> MYC<span id="offset">A</span>RT</i>
        </div>

        <ul class="hexagon-container">
            <% for(let i=0; i < BD.length; i++) { %>
                <%- include('../partials/product-card_hexagon', {data_item: BD[i]}) %>
            <% } %>
        </ul>

        <div class="resume-container">
            <div class="resume-container-tittle">
                RESUME
            </div>
            <div class="resume-container-body">
                <table>
                    <tbody>
                        <% for(let i=0; i < BD.length; i++) { %>
                            <tr>
                                <td><%= BD[i].name %></td>
                                <td><%= BD[i].price %></td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>TOTAL</td>
                            <td><%= BD.reduce((accumulator, currentPrice) => accumulator + currentPrice.price, 0) %></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="resume-container-buttons">
                <button class="payment-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-solid fa-lock"></i>
                    Secure checkout
                </button>
            </div>
            <div class="discount-container">
                <input type="text" name="discount" id="discount">
                <label for="discount">Discount code </label>
            </div>
        </div>

        </div>

    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>

</html>