<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/styles/products/cart.css" />
</head>

<body>
   
    <%-include('../partials/header.ejs')%>

    <main>
        <% if (BD.length > 0) { %>
            <h2 class="title-cart">Mi carrito</h2>
            <div class="main-container">
                <div class="all-card-container">
                    <% for( let i = 0; i < BD.length; i++ ) { %>
                        <%-include('../partials/card--cart.ejs', {data_item: BD[i].products, quantity: BD[i].quantity, idCart: BD[i].id})%>
                    <% } %>
                </div>
                <div class="resume-container">
                    <h2 class="tittle-resume-container">Resumen de Compra</h2>
                    <div class="resume-line">
                        <h2>Precio</h2>
                        <h2><%= subtotal %> $</h2>
                    </div>
                    <div class="resume-line">
                        <h2>Descuentos</h2>
                        <h2>-<%= discount %> $</h2>
                    </div>
                    <div class="resume-line">
                        <h2>Impuestos</h2>
                        <h2><%= imposition %> $</h2>
                    </div>
                    <div class="separador"></div>
                    <div class="resume-line">
                        <h2>Total</h2>
                        <h2><%= subtotal - discount + imposition %> $</h2>
                    </div>
                    <button class="resume-button">Finalizar Compra</button>
                </div>
            </div>
            <% } else { %>
                <div class="mycart-container">
                    <div class="mycart-tittle">
                        <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                        <span>NO HAY PROD<span id="offset">U</span>CTOS AGREGADOS</span>
                    </div>
                </div>
            <% } %>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>

</html>