<article>
    <a href="/details/<%= data_item.id %>" class="name__link">
        <img src="<%= data_item.cover_image %>" alt="" />
        <div class="products__info">
            <div class="info__name">
                <h4 class="name__main"><%= data_item.name %></h4>
                <% for(let i = 0; i < data_item.platforms.length; i++) { %>
                    <span class="products__tag"><%= data_item.platforms[i].name %></span>
                <% } %>
            </div>
            <div class="info__price">
                <span>$<%= data_item.price %></span>
                <div class="products__cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
    </a>

    <script src="/scripts/card.js"></script>
</article>