<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>

<body>
    <!---------------------------- Header ---------------------------->

    <%- include('../partials/header.ejs') %>

    <!---------------------------- Main ---------------------------->

    <main>
        <section class="dashboard">
            <div class="dashboard__carousel">
                <div class="carousel__card">
                    <h3>Fin de semana Sega</h3>
                    <p>
                        Viví la experiencia de la era dorada de los videojuegos con
                        precios inigualables en nuestra tienda online!
                    </p>
                </div>
            </div>
            <div class="dashboard__offers">
                <% for(let i=0; i < BD.length; i++) { %>
                    <%- include('../partials/card--carrusel', {data_item: BD[i]}) %>
                <% } %>
            </div>
        </section>
        <section>
            <h2 class="section__tittle">Mas vendidos</h2>
            <div class="section__products">
                <% for(let i=4; i < 8; i++) { %>
                    <%- include('../partials/card--main', {data_item: BD[i]}) %>
                <% } %>
            </div>
        </section>
        <section>
            <h2 class="section__tittle">Ultimas Novedades</h2>
            <div class="section__products">
                <% for(let i=8; i < 12; i++) { %>
                    <%- include('../partials/card--main', {data_item: BD[i]}) %>
                <% } %>
            </div>
        </section>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>

</body>

</html>